DISCORD_TOKEN=<TOKEN>
BOT_VERSION=<VERSION>
DATABASE_URL=sqlite:///<PATH>
ENCRYPTION_SALT=<SALT>
DISCORD_CLIENT_ID=<CLIENT ID>
DISCORD_CLIENT_SECRET=<CLIENT SECRET>
DISCORD_REDIRECT_URI=<REIRECT URI>
RUST_LOG=<LOG LEVEL>
FOOD_CLIENT_ID=<CLIENT ID>
FOOD_CLIENT_SECRET=<CLIENT SECRET>